body {
    background-color: black;
  }
  #container {
    position: absolute;
    left: 20px;
    top: 90px;
    right: 20px;
    bottom: 20px;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  .page_content {
    background-color: black;
    width: 500px;
    height: 500px;
    
    transform-origin: top left;
    transform: translate(-50%, -50%);
   
    position: absolute;
    align-items: center;
  }
  .page_content img {
    float: center;
    width: 80%;
    height: 80%;
    margin: auto;
    transform: translate(12%, 10%);
  }
  .page_content .circleContainer{
    position: relative;
    color: white;
    align-items: center;
    text-align: center;
    font-family: verdana;
    border-radius: 1%;
    transform: translate(0%, -5%);
  }
  
  
  .button {
    background-color: #0096C2;
    border: none;
    color: white;
    padding: 7% 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button:hover{
    background-color:#047EA2;
  }
  
  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  fieldset {
    background-image:linear-gradient(to right,#11181A, #1F5767 , #11181A);
    border:  6px solid #0B1011;
    margin: auto;
    padding:  .5em;
    border-radius: 25%;
    height: 100%;
    width: 200px; 
  }
  